.slick-dots li button::before {
    font-size: 12px;
    color: gray; /* Color de los puntos inactivos */
    opacity: 0.5;
  }
  
  .slick-dots li.slick-active button::before {
    color: white; /* Color del punto activo */
    opacity: 1;
  }
  
.slick-active{
    transition: all;
    &>div{
        opacity: 1!important;
    }
}  
